<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>隔壁王校长的栗子</title>
    <script src="../bower_components/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名：</label>
                <div class="col-sm-8">
                    <input id="username" type="text" class="form-control" v-model="username">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="comment">备 注：</label>
                <div class="col-sm-8">
                    <input id="comment" type="text" class="form-control" v-model="comment">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-sm-8 text-center">
                        <input type="button" value="添加" class="btn btn-primary" @click="addUser">
                        <input type="reset" value="取消" class="btn btn-danger" @click='cancelAdd'>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!-- 数据表格 -->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">用户名</th>
                <th class="text-center">备注</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-show="usersList.length===0">
                <td colspan="4" class="text-center text-danger">
                    暂时没有数据
                </td>
            </tr>
            <tr class="text-center" v-for="(item,index) in usersList">
                <td>{{index+1}}</td>
                <td>{{item.username}}</td>
                <td>{{item.comment}}</td>
                <td>
                    <input type="button" class="btn btn-warning btn-sm" value="删除" @click="deleteUser(index)">
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
<script>
    // 1.用户名、备注、缓存的数组
    // 2.username，comment绑定到 input 控件
    // 3.通过 v-show 来控制『暂时没有数据』的显示
    // 4.将 usersList 的内容用 v-for 循环显示
    // 5.点击添加按钮，可以将用户名，备注中的信息加入 table
    //   5.1.点击添加按钮，把数据添加到 userList 
    //      检验 username 是否是空字符串
    //      成功添加以后 username 和 comment 要置为空
    //   5.2.table 根据 userList 更新（这步不需要我们做什么，因为在步骤4已经实现了）
    // 6. 删除，点击对应项的删除按钮，把对应数据项的用户删除
    //  6.1 删除
    //        删除操作数组 splice
    //  6.2 增加确认对话框
    let m = {
        username: '',
        comment: '',
        usersList: []
        // 为了对步骤4进行验证，缺省有数据。
        // usersList: [
        //     {
        //         username: '隔壁王校长',
        //         comment: '我要学 Vue.js'
        //     },
        //     {
        //         username: '隔壁李校长',
        //         comment: '我要学 React'
        //     }
        // ]

    };

    let vm = new Vue({
        el: ".container",
        data: m,
        methods: {
            addUser: function () {
                if(this.username != ''){
                    this.usersList.push({
                        username: this.username,
                        comment: this.comment
                    });

                    this.username='';
                    this.comment='';
                }
            },
            cancelAdd: function(){
                this.username='';
                this.comment='';
            },
            deleteUser(index){
                var t = confirm('Yes?');
                if(t){
                    this.usersList.splice(index,1);
                }
            }
        }
    });
</script>
</body>
</html>


